.option {
  width: 175px;
}

.target-box {
  border: 8px solid blue;
  height: 100px;
  width: 100px;
}

.tag-box {
  position: absolute;
  height: 100px;
  width: 100px;
}

.photo-tags {
  border: 8px solid blue;
  background-color: white;
}

#board {
  height: 400px;
  width: 400px;
  margin: auto;
}

.panel {
  height: 200px;
  width: 200px;
}

#green {
  background-color: green;
  float: left;
}

#red {
  background-color: red;
  float: left;
}

#blue {
  background-color: blue;
  float: left;
}

#yellow {
  background-color: yellow;
  float: left;
}