.option {
  width: 175px;
}

.target-box {
  border: 8px solid blue;
  height: 100px;
  width: 100px;
}

.tag-box {
  position: absolute;
  height: 100px;
  width: 100px;
}

.photo-tags{
  border: 8px solid blue;
  background-color: white;
}