.option {
  width: 175px;
}

.target-box {
  border: 8px solid blue;
  height: 100px;
  width: 100px;
}

.tag-box {
  position: absolute;
  height: 100px;
  width: 100px;
}

.photo-tags {
  border: 8px solid blue;
  background-color: white;
}

#countdown {
  height: 100px;
  width: 100px;
  font-weight: bold;
  margin: auto;
  font-size: 50px;
  text-align: center;
}

#board {
  height: 408px;
  width: 408px;
  margin: auto;
}

.panel {
  height: 200px;
  width: 200px;
}

#green, #red, #blue, #yellow {
  border-radius: 10px;
  border: 2px solid;
}

#green {
  background-color: green;
  float: left;
}

#red {
  background-color: red;
  float: left;
}

#blue {
  background-color: blue;
  float: left;
}

#yellow {
  background-color: yellow;
  float: left;
}

#play-btn, #dh-play-btn {
  text-align: center;
}

#play, #dh-play {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 20px;
  background-color: red;
}

#play-button-text, #dh-play-button-text {
  font-weight: bold;
  font-size: 28px;
  color: white;
}

#duck-hunt-board {
  width: 1000px;
  height: 1000px;
  background-color: lightGrey;
  margin: auto;
}

#duck {
  width: 50px;
  height: 50px;
  background-color: brown;
  position: relative;
}